/**/
body{
    background-color: rgb(80, 167, 167);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}
button{
    color: rgb(255, 255, 255);
    background-color: black;
}

